conda-forge::darker
conda-forge::flake8
conda-forge::mypy
conda-forge::pyupgrade
conda-forge::pytest
conda-forge::pytest-cov
conda-forge::pytest-mock
conda-forge::ipython
conda-forge::pre-commit
conda-forge::mkdocs
conda-forge::mkdocs-material
conda-forge::mkdocs-click
